body{
    font-family: 'Montserrat', sans-serif;
}

p{
    color: rgb(75, 75, 75);
}
h1{
   font-size: 50px;
   font-weight: 700;
}

.focus-color{
    color: #FBA24F;
}
.btn{
    text-align: center;
    padding: 12px 25px;
    background: linear-gradient(88.33deg, #FBA24F -7.64%, #FF1E1E 145.94%);
    box-shadow: 0px 2px 30px rgba(252, 143, 73, 0.5);
    border-radius: 100px;
    outline: none;
    color: white;
    border: none;
}
.flex-container{
    display: flex;
    padding: 50px;
    align-items: center;
    justify-content: s;
}
.hero_section img{
    width: 100%;
}